<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Runner.MaxConcurrentFiles" value="2" />
    <add key="Stats.EnableCsv" value="true" />
    <add key="Stats.CsvDirectory" value="Stats" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
